<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<style> 
	header {
		color: white;
		background-color:#6a2f2f;
		display: inline-block;
	}
	article{
	float: none; 
	padding: 40px; 
	width:60%;
	background-color:#008B8B;
	height: 100px;
			}
	nav {
		float: left;
		width: 30%;
		padding: 10px;
	}
	</style> 
</head> 
		<body> 
<header> 
<p> PSX Library </p>
</header> 
<section> 
<article> 
	<nav> 
		<ul> 
			<li><a href="https://www.mobygames.com/game/4333/spider-man/">Spider-Man</a></li> 
			<li><a href="https://www.mobygames.com/game/6962/spider-man-2-enter-electro/">Spider-Man: Enter Electro</a></li>
		</ul>
	</nav>
</article> 
</section> 
<footer style="float: right; display: inline-block;"> 
	<p> - Erercott
</footer>
		</body> 
</html>