<!DOCTYPE html> 
<html> 
	<head> 
	<meta charset="UTF="8">
	<meta name="description" content="Layout", "header",>
	<meta name="keywords" content="header", "html">
	<meta name="viewport" content="width=device-width, inital-scale=1.0">
	<meta http-equiv="refresh" content="160">
		<style> 
	* {
		box-sizing: border-box; 
		}
	body {
		font-family: TimesNewRoman
	}
	header {
		background-color: #FFC0CB;
		padding: 6px;
		text-align: Right; 
		font-size: 45px;
		color: HotPink;
	}
		</style> 
	</head> 
	<body> 
	<header> TAX THE RICH </header> 
	</body> 
	</html> 