<!DOCTYPE html> 
<html> 
	<head> 
	<meta charset="UTF="8">
	<meta name="description" content="Layout", "header",>
	<meta name="keywords" content="header", "html">
	<meta name="viewport" content="width=device-width, inital-scale=1.0">
	<meta http-equiv="refresh" content="160">
		<style> 
	.red { 
	padding: 8px; 
	margin:6px 0; 
	color: #e60073; 
	text-align: right; 
	background: #fff0f6;  }
	
	.blue { padding: 8px; margin:6px 0; color: #E6E6FA; text-align: right; background: #9370DB;  }
	
	.green {
	padding: 8px; 
	margin: 6px 0;
	color: #2E8B57;
	text-align: right; 
	background: #e6fee6; 
	} 
	
	
	body {
		font-family: "TimesNewRoman", Times, serif;
	}
		</style> 
	</head> 
	<body> 
		<div class="red">
		<header> TAX THE RICH</header> 
		</div> 
		<br> 
		<div class="green">
		<header> TAX THE RICH</header> 
		</div>
		<br>
		<div class="blue">
		<header> TAX THE RICH</header>
		</div> 
	</body> 
	</html> 