<!DOCTYPE> 
<html> 
<head>
	<style> 
	aside { 
		background-color:#e6fee6;
	}
	nav {
		float: right; 
		width: 10%;
		height: 50px;
		padding: 10px;
		border-radius: 4px;
		box-sizing: border-box; 
	}
	nav ul {
		list-style-type: none; 
		padding: 0;
	}
	</style> 
</head> 
	<body> 
		<section>
			<nav> 
				<ul> 
				<li><a href="file:\\\c:\data\data-html\PSX.html">PSX</a></li>
				<li>PS2</li> 
				<li>XBOX360</li>
				</ul>
			<aside> 
			float: right; 
			width: 10%;
			height: 50px;
			paddnig: 10px;
			</aside> 
			</nav>
<br> 
		</section>
	</body> 
</html> 