<!DOCTYPE html>
<html>
	<style>
	body {
	background-color: #DEB887;
	}
	</style>
	<body>
		<iframe src="https://upload.wikimedia.org/wikipedia/commons/c/c5/Edvard_Munch%2C_1893%2C_The_Scream%2C_oil%2C_tempera_and_pastel_on_cardboard%2C_91_x_73_cm%2C_National_Gallery_of_Norway.jpg" name="axiom" height="500" width="350" title="scream"></iframe>
		<br>
		<a href="https://commons.wikimedia.org/wiki/File:Edvard_Munch,_1893,_The_Scream,_oil,_tempera_and_pastel_on_cardboard,_91_x_73_cm,_National_Gallery_of_Norway.jpg" target="axiom">Edvard Munch, Public domain, via Wikimedia Commons</a>
		<br>
		<iframe src="https://upload.wikimedia.org/wikipedia/en/4/4c/Les_Demoiselles_d%27Avignon.jpg" name="verge" height="500" width="350" title="pablo"></iframe>
		<br>
		<a href="https://en.wikipedia.org/wiki/Les_Demoiselles_d%27Avignon" target="verge">MoMa - Les Desmoiselles d'Avignon</a></iframe>
	</body>
</html>